---
layout: default
title: Homepage
text: This is a bunch of text for text ands image section
text-and-image: 
    - text-and-image_url: https://picsum.photos/id/1025/600/400
      text: This is a bunch of text for text ands image section
    - text-and-image_url: https://picsum.photos/600/400
      text: This is the second a bunch of text for text ands image section
    - text-and-image_url: https://picsum.photos/900/400
      text: This is the third bunch of text for text ands image section
sneak-peek:
    - peek-image_url: https://picsum.photos/id/684/600/400
      peek-image-description: we need to descrbe the image for seo
      heading: Inside Product One
      text: Here is a cheeky little preview of this really fricking amazing product. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    - peek-image_url: https://picsum.photos/id/231/600/400
      peek-image-description: we need to descrbe the image for seo
      heading: Inside Product Two
      text: Here is a cheeky little preview of this really fricking amazing product. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.    
    - peek-image_url: https://picsum.photos/id/235/600/400
      peek-image-description: we need to descrbe the image for seo
      heading: Inside Product Three
      text: Here is a cheeky little preview of this really fricking amazing product Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    - peek-image_url: https://picsum.photos/id/377/600/400
      peek-image-description: we need to descrbe the image for seo
      heading: Inside Product Four
      text: Here is a cheeky little preview of this really fricking amazing product. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    - peek-image_url: https://picsum.photos/id/393/600/400
      peek-image-description: we need to descrbe the image for seo
      heading: Inside Product Five
      text: Here is a cheeky little preview of this really fricking amazing product. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
grid-images:
    - grid-image: https://picsum.photos/id/393/600/400
      grid-image-description: we need to descrbe the image for seo
    - grid-image: https://picsum.photos/id/393/600/400
      grid-image-description: we need to descrbe the image for seo
    - grid-image: https://picsum.photos/id/393/600/400
      grid-image-description: we need to descrbe the image for seo

---

<!---Banner Section (want bg image, text and overlay to be changeable)-->

<section style="background-image: url('https://picsum.photos/id/1025/600/400')">
    <h3> This is text </h3>
</section>

<!---Gallery Section (F)-->
<!-- I need to come back to this and tell it where to find info-->

<section class="grid md:grid-cols-5 limit:5">
    {% for item in site.ebooks %}
    <div>
        <img class="p-5" src="{{item.featured-image}}">
    </div>
    {% endfor %}
</section>

<!---Featured Products Section-->
<!-- I need to come back to this and tell it where to find info-->

{% assign featuredProducts = site.ebooks | where_exp: "item", "item.featured == true" %}
<section class="p-10 mb-20 tracking-wide ">
    <div class="p-5"> 
      <h3 class="pb-5 text-2xl text-center">Featured Products</h3>
    </div>
    <div class="leading-8 grid gap-8 md:grid-cols-3">
      {% for ebooks in site.ebooks limit:3 %}
      <a class="border" href="{{ebooks.url}}">
        <div class="bg-image bg-center h-72 bg-no-repeat" style="background-image:url({{ebooks.featured-image}})"> </div>
        <h3 class="text-xl font-semibold pl-2"> {{ebooks.title}} </h3>
        <p class="pl-2">Find Out More</p>
      </a>
      {% endfor %}  
    </div>
  </section>

<!---Testimonial Section (F)-->

<section class="grid gap-2 md:grid-cols-4">
    {% for item in site.data.testimonials %}
    <div class="p-[5%] text-center bg-orange-100">
        <p class="p-10">{{item.product}}</p>
        <p class="p-10">{{item.testimonial}}</p>
        <p>{{item.name}} {{item.title}}</p>
        <img class="object-center object-cover h-[20vh]" src="{{item.image}}">
    </div>
    {% endfor %}
</section>

<!---Sneak Peek Section-->

{% for section in page.sneak-peek %}
<section class="grid grid-cols-2">
    <div>
        <img src="{{section.peek-image_url}}" alt="we need to descrbe the image for seo">
    </div>
    <div>
        <h2>{{section.heading}}</h2>
        <p>{{section.text}}</p>
    </div>
</section>
{% endfor %}

<!---Introduction Section-->

<section class="grid grid-cols-2">
    <div>
      <img src="https://picsum.photos/id/1067/600/400" alt="This is some SEO jazz">
    </div>
    <div>
      <h2>This is the intro / sales pitch heading</h2>
      <p> This is the blurb talking about category of product </p>
    </div>
</section>

<!---Images Section (F) -->
<section>
   {% for item in page.grid-images %}
    <div>
      <img src="{{item.grid-image}}" alt="we need to descrbe the image for seo">
    </div>
    {% endfor %}
</section>

<!---FAQ Section (F)-->
<section>
    {% for item in site.data.faqs %}
    <div>
        <span>{{item.question}}</span>
        <span>{{item.answer}}</span>
    </div>
    {% endfor %}
</section>


<!---Pricing Section-->

<section>
    <h2>Product Title</h2>
    <img src="https://picsum.photos/id/1020/600/400" alt="">
    <p>Product description blurb.</p>
    <p> PRICE</p>
</section>

<!---Related Products Section (F)-->

<section class="grid gap-2 grid-cols-5">
    {% for item in site.ebooks limit:5 %}
    <div class="{% if forloop.index == 2 %}col-span-3 row-span-2{% endif %}">
        <h2> {{item.title}}</h2>
        <img src="{{item.featured-image}}">
        <p>{{item.description}}</p>
        <a href="{{item.url}}">Click Me</a>
    </div>
    {% endfor %}
</section>


<!---Text Section-->

<section>
    <div class="md:columns-2">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
    </div>
</section>

<!---Text and Image Section (F)-->

{% for section in page.text-and-image %}
<section class="grid grid-cols-2">
    <div class="{% cycle 'col-start-2', ''%}">
        <img class="mx-auto" src="{{section.text-and-image_url}}">
    </div>
    <div class="{% cycle 'col-start-1 row-start-1', ''%} ">
        <p>{{section.text}}</p>
    </div>
</section>
{% endfor %}

<!---Reviews Section-->

<section>
    <h2>Review Title</h2>
    <p>date</p>
    <p>"</p>
    <p>blurb about how amazing this product is and why you shoud buy it</p>
    <p>"</p>
</section>

<!---Before / After Section (F)-->
<!---skipping for now-->

<section></section>