<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<body>
<header>
    <div class="text-8xl">
        <h2 class="p-10 text-6xl">
            <a class="hover:opacity-50 md:flex md:justify-center" href="/index.html"> LOGO</a>
        </h2>
    </div>
    <nav class="overflow-x-scroll border-y border-black md:align-middle md:flex md:items-center md:justify-center p-2 whitespace-nowrap">
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="/index.html"> HOME</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> ABOUT US</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="/overview-ebooks.html">EBOOKS</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="/overview-presets.html">PRESETS</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> REVIEWS</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="/products-page.html"> SHOP</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> FAQS</a>
        <a class="neg-p-20 md:px-4 pt-2 mr-2 md:absolute right-0 hover:opacity-50" href="/search-doc.html"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="https://cloudvent1.memberspace.com/member/plans/fcc4f3eafp"> SIGNUP</a>
    </nav>
</header>

    {{content}}
    
    <footer>
        <div>
            
        </div>
        <nav>
            
        </nav>
        
    </footer>
    <script>
        var MemberSpace = window.MemberSpace || {"subdomain":"cloudvent1"};
        (function(d){
          var s = d.createElement("script");
          s.src = "https://cdn.memberspace.com/scripts/widgets.js";
          var e = d.getElementsByTagName("script")[0];
          e.parentNode.insertBefore(s,e);
        }(document));
        </script>
</body>
</html>